{% extends 'kamelia/base.html' %}
{% load static %}


{% block description %}Страница новостей отеля Камелия-В{% endblock %}

{% block title %}Блог{% endblock %}

{% block content %}

 <div class="block-30 block-30-sm item" style="background-image: url('{% static 'images/bg_2.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-10">
          <span class="subheading-sm">Блог</span>
              <h2 class="heading">Новости и события</h2>
        </div>
      </div>
    </div>
  </div>


  <div class=" site-section bg-light" id="blog">
    
    <div class="container">
      <div class="row">
      	
      	
		{% for n in view.news_all %}
        <div class="col-md-12 mb-4">
          <div class="block-3 d-md-flex">
          	{% if n.photo %}
          	<a class="image" href="blog-single.html" style="background-image: url('{{ n.photo.url }}'); "></a>
            {% else %}
            <a class="image" href="blog-single.html" style="background-image: url('{% static 'images/img_3.jpg' %}'); "></a>
            {% endif %}
            <div class="text">
              <h2 class="heading"><a href="#">{{ n.title }}</a></h2>
              <p class="meta"><em>Опубликовано</em> <a href="">07 Августа, 2025</a> <span class="sep">&bullet;</span> <em></em> <a href="#">Admin</a> </p>
              <p>{% autoescape off %}{{ n.content|truncatewords:25 }}{% endautoescape %}</p>
              <p><a href="{{ n.get_absolute_url }}">Читать далее...</a></p>
            </div>
          </div>  
        </div>
        {% endfor %}


      </div>


  </div>
  </div>
  
  {% endblock %}